body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.portfolio-list, .filter, .clients-list, .social-list, .team-list, .our-field__list, .features__list, .main-nav__list, .header-contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio-list, .filter, .clients-list, .social-list, .team-list, .our-field__list, .features__list, .subscribe__btn, .subscribe-form__field, .subscribe-form, .footer--layout, .main-nav__list, .header-contacts-list__link, .header-contacts-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.team-section__title, .our-field__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
}

.visually-hidden {
  position: absolute;
  width: 0;
  height: 0;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

header {
  border-bottom: 1px solid #ececec;
}

.header--layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-contacts-list {
  gap: 40px;
}
.header-contacts-list__link:hover, .header-contacts-list__link:focus {
  color: #2196f3;
}

.header-contacts-list__link {
  gap: 10px;
  padding: 32px 0;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-list__icon {
  fill: currentColor;
}

.logo {
  padding: 27px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  color: #000000;
}

.logo--accent {
  color: #2196f3;
}

.logo--reversed {
  padding: 0;
  color: #ffffff;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 91px;
  max-width: 1200px;
}

.main-nav__list {
  gap: 50px;
}

.main-nav__list,
.contacts__link {
  font-weight: 500;
}

.main-nav__link {
  position: relative;
  display: inline-block;
  padding: 32px 0;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__link:hover, .main-nav__link:focus {
  color: #2196f3;
}

.main-nav__link--current-page::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border: none;
  border-radius: 2px;
  background-color: #2196f3;
}

.btn {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.btn--centered {
  display: block;
  margin: 0 auto;
}

.main-btn {
  min-width: 200px;
  padding: 10px 55px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.filter-btn {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover, .filter-btn:focus {
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.12);
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer__social--list {
  margin-top: 20px;
}

.footer--layout {
  justify-content: space-between;
  align-items: baseline;
}

.address {
  margin-top: 28px;
}

.address-link {
  display: block;
  line-height: 1.14;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:not(:first-child) {
  margin-top: 9px;
}
.address-link:hover, .address-link:focus {
  color: #ffffff;
}

.join-us__title {
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

.subscribe-form {
  justify-content: flex-end;
  align-items: flex-end;
  gap: 12px;
  width: 100%;
}

.subscribe-form__field {
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.subscribe-form__label {
  font-weight: 700;
  color: #ffffff;
}

.subscribe-form__input {
  width: 358px;
  padding: 14px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2f303a;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input .subscribe-form__input:focus-visible {
  outline: 1px solid #2196f3;
  border: 1px solid #2196f3;
}

.subscribe__btn {
  gap: 10px;
  padding: 10px 28px;
}

.subscribe__icon {
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  overflow: hidden;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  max-height: 581px;
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  background-color: #ffffff;
}
.modal__close-btn:hover, .modal__close-btn:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__close-btn:hover .close-icon, .modal__close-btn:focus .close-icon {
  fill: currentColor;
}

.contact-form {
  margin-top: 30px;
}

.contact-form__group {
  position: relative;
}
.contact-form__group--margin-top {
  margin-top: 28px;
}

.contact-form__input {
  width: 100%;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #212121;
}
.contact-form__input:focus-visible {
  outline: 1px solid #2196f3;
}

.contact-form__text-area {
  height: 120px;
  resize: none;
}

.contact-form__icon, .contact-form__label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
}
.contact-form__input:focus-visible + .contact-form__icon, .contact-form__input:focus-visible + .contact-form__label {
  fill: #2196f3;
}

.contact-form__label {
  left: 42px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #757575;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-50%);
}
.contact-form__input:not(:-moz-placeholder) ~ .contact-form__label {
  transform: translate3d(-30px, -40px, 0);
}
.contact-form__input:focus-visible ~ .contact-form__label, .contact-form__input:not(:placeholder-shown) ~ .contact-form__label {
  transform: translate3d(-30px, -40px, 0);
}

.contact-form__text-area-icon, .contact-form__text-area-label {
  top: 11px;
  transform: translateY(0);
}

.contact-form__text-area-label {
  top: 13px;
}
.contact-form__input:not(:-moz-placeholder) ~ .contact-form__text-area-label {
  transform: translate3d(-30px, -32px, 0);
}
.contact-form__input:focus-visible ~ .contact-form__text-area-label, .contact-form__input:not(:placeholder-shown) ~ .contact-form__text-area-label {
  transform: translate3d(-30px, -32px, 0);
}

.license {
  position: relative;
}

.license__icon, .license__check {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.license__check:checked + .license__icon, .license__check:checked + .license__check {
  opacity: 1;
}

.license__check {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.license__check:checked {
  opacity: 0;
}

.license__link {
  color: #2196f3;
}
.license .license__link {
  text-decoration: underline;
}

.license__label {
  display: block;
  margin-top: 20px;
  text-align: center;
}

.contact-form__btn {
  margin-top: 30px;
}

.hero {
  text-align: center;
}

.hero__section {
  padding: 200px 0;
}

.hero__bcg-img {
  max-width: 1600px;
  max-height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2f303a;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
}

.features__list {
  align-items: baseline;
  gap: 30px;
}

.features-list__item {
  max-width: calc((100% - 90px) / 4);
  min-width: 200px;
}

.features-list__icon-wrapper {
  padding: 25px 100px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.features-list__title {
  padding-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
}

.features-list__descr {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.our-field__list {
  gap: 30px;
}

.our-field__section {
  padding-top: 0;
}

.our-field__item {
  position: relative;
}

.our-field__descr {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team-section {
  background-color: #f5f4fa;
}

.team-list {
  gap: 30px;
}

.team-card {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
  font-size: 16px;
  color: #757575;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.team-card__thumb {
  padding: 30px 32px;
}

.team-card__title {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
}

.team-card__text {
  margin-top: 10px;
}

.social-list {
  flex-wrap: balance;
  gap: 10px;
  margin-top: 16px;
}

.social-list__link {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-list__icon {
  fill: currentColor;
}

.social-list__link--reversed {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #212121;
}

.clients-list {
  margin-top: 50px;
  gap: 27px;
}

.client-list__link {
  display: block;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;
  color: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__link:hover, .client-list__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.client-list__icon {
  fill: currentColor;
}

.filter {
  justify-content: center;
  gap: 8px;
}

.portfolio-list {
  gap: 30px;
  margin-top: 50px;
}

.product-card {
  max-width: 370px;
  background-color: #ffffff;
}

.product-card__overlay {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.product-card__overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px;
  transform: translate3d(0, 100%, 0);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio-link:hover .product-card__overlay-text, .portfolio-link:focus .product-card__overlay-text {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.product-card__meta {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  text-align: center;
}

.product-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.product-card__descr {
  padding-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.is-hidden {
  overflow: hidden;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */