.features__list {
  @extend %list;
  @extend %centered-items;

  align-items: baseline;
  gap: $primary-gap;
}

.features-list__item {
  max-width: calc((100% - 90px) / 4);
  min-width: 200px;
}

.features-list__icon-wrapper {
  padding: 25px 100px;
  border-radius: 4px;
  background-color: $secondary-bg-color;
}

.features-list__title {
  padding-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
}

.features-list__descr {
  margin-top: 10px;

  font-size: 14px;
  line-height: 1.71;

  color: $secondary-font-color;
}
