.logo {
  padding: 27px 0;

  font-family: $secondary-font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;

  color: $black-color;
}

.logo--accent {
  color: $accent-color;
}

.logo--reversed {
  padding: 0;

  color: $white-color;
}
