.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;

  max-height: 581px;
  padding: 40px;

  border-radius: 4px;

  background-color: $white-color;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition:
    color $duration $timing-fn,
    border-color $duration $timing-fn;

  cursor: pointer;

  background-color: $white-color;

  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.close-icon {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .modal__close-btn:hover &,
  .modal__close-btn:focus & {
    fill: currentColor;
  }
}
