.social-list {
  @extend %list;
  @extend %centered-items;

  flex-wrap: balance;
  gap: 10px;
  margin-top: 16px;
}

.social-list__link {
  display: block;

  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;

  color: $secondary-color;
  background-color: $white-color;

  transition:
    background-color $duration $timing-fn,
    color $duration $timing-fn;

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $white-color;
  }
}

.social-list__icon {
  fill: currentColor;
}

.social-list__link--reversed {
  color: $white-color;
  background-color: rgba(255, 255, 255, 0.1);
}
