$primary-gap: 30px;

$primary-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Raleway', sans-serif;

$primary-font-color: #212121;
$secondary-font-color: #757575;

$accent-color: #2196f3;

$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;

$white-color: #ffffff;
$black-color: #000000;
$hero-overlay-color: rgba(47, 48, 58, 0.4);
$secondary-color: #afb1b8;

$timing-fn: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;
